[submodule "code/ocharles.org.uk--Getting-Started-with-Netwire-and-SDL"]
	path = code/ocharles.org.uk--Getting-Started-with-Netwire-and-SDL
	url = git@github.com:ocharles/ocharles.org.uk--Getting-Started-with-Netwire-and-SDL.git
